#pageWebsite {
    grid-area: website;
}

.place__website {
    align-self: flex-end;
    margin-bottom: 8px;
    width: 456px;
    grid-column: 2/3;
    grid-row: 1/2;
}

@media screen and (max-width:1024px){
    .place__website{
    margin-bottom: 20px;
    width: 352px;
    height: 46px;
    align-self: flex-end;
    }
}
@media screen and (max-width:768px){
    .place__website{
        width: 288px;
        height: 46px;
        margin: auto auto 0 auto;
    }
}