.cover__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 360px;
    height: 66px;
    margin: auto;
    margin-top: 0;
}

@media screen and (max-width:768px){
    .cover__subtitle {
    width: 288px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    }
}