.place__title {
    width: 460px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 8px;
    margin-top: 0;
    align-self: end;
}
#pageTitle {
    grid-area: title;
}
@media screen and (max-width:1280px){
    .place__title{
    margin-bottom: 16px;
    }
}
