#mainParagraph {
    grid-area: paragraph;
}

.place__paragraph {
    width: 484px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-bottom: 26px;
    margin-top: 0;
}

.place__paragraph:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place__paragraph {
        width: 456px;
    }
}

@media screen and (max-width:1023px) {
    .place__paragraph {
        width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width:767px) {
    .place__paragraph {
        width: 288px;
        margin: auto auto 26px auto;
        grid-column: 1/2;
        grid-row: 4/4;
    }
}