.lead__image {
    height: 615px;
    width: 984px;
    display: flex;
    justify-content: center;
    margin: 64px auto auto;
}

@media screen and (max-width: 1280px) {
    .lead__image {
    width: 928px;
    height: 580px;
    margin-top: 56px;
    }
}
@media screen and (max-width: 1024px){
    .lead__image {
    width: 751px;
    height: 480px;
    margin-top: 56px;
    }
}

@media screen and (max-width:768px){
    .lead__image{
    max-width: 320px;
    max-height: 200px;
    margin-top: 40px;
    }
}