.cover__text {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    margin:auto;
}
@media screen and (max-width:1279px) {
    .cover__text {
        max-width: 1024px;
    }
}

@media screen and (max-width:1023px){
    .cover__text{
        max-width: 768px;
    }
}
@media screen and (max-width:767px){
    .cover__text{
    max-width: 320px;
    }
}